
<footer class="footer" style="padding: 0px">
    <p style="font-family: &#39;IBM Plex Mono&#39;; color: black; font-weight:&#39;bold&#39;; margin-bottom: 0px;">
    Built with <a href="https://github.com/PurePelicanTheme/pure-single">Pure Theme</a>
    for <a href="http://blog.getpelican.com/">Pelican</a>
    </p>
  <p style="font-family: &#39;IBM Plex Mono&#39;; color: black; font-weight:&#39;bold&#39;;  margin-top: 0px;  margin-bottom: 0px;" > <i class="far fa-copyright"></i> <a href="https://murilohmoreira.github.io/">Murilo Henrique Moreira</a> –
      <script language="javascript"> 
months = ['January', 'Febraury', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; 
var theDate = new Date(document.lastModified); 
theDate.setTime((theDate.getTime()+(5000*60*60)) ) 
with (theDate) { 
document.write("Last updated "+getDate()+' '+months[getMonth()]+' '+getFullYear()+' '+ ("0" +getHours()).slice(-2) +':'+("0" +getMinutes()).slice(-2)+" GMT") 
}
</script>
    </p>
</footer>